<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Obligatorio2Entities" connectionString="metadata=res://*/TerminalesD2.csdl|res://*/TerminalesD2.ssdl|res://*/TerminalesD2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Obligatorio2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
